/* Colors */
:root {    
    --gray-700: #0D0D0D;
    --gray-600: #1A1A1A;
    --gray-500: #262626;
    --gray-400: #333333;
    --gray-300: #808080;
    --gray-200: #D9D9D9;
    --gray-100: #F2F2F2;  

    --blue: #4EA8DE;
    --purple: #8284FA;
    --danger: #E25858;
    --blue-dark: #1E6F9F;    
    --purple-dark: #5E60CE;
}

/* reset page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--gray-600);
}

/* default font*/
body, input, button {
    font-family: 'Inter', sans-serif;
}

header {    
    background: var(--gray-700);
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--blue); 
}

main { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: calc(0px - 1.6rem - 6px);
}


input {
    width: 39.875rem;
    height: 3.375rem;
    font-weight: 400;
    font-size:1rem;
    line-height: 1.4;

    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    background: var(--gray-500);
    color: var(--gray-300);
    
}

button {
    width: 5.625rem;
    height: 3.25rem;
    font-weight: 700; 
    line-height: 1.225;
    font-size: 0.875rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;    
    padding: 1rem;
    border: none;
    border-radius: 8px;
    background: var(--blue-dark);
    color: var(--gray-100); 
    cursor: pointer;   
}
/*  */
.contentCalc {  
    margin: 100px auto;
    width: 45rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:8px;
    color: var(--gray-100);
    border-radius: 8px;
    border: 1px solid var(--gray-400);
    background: var(--gray-500);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06); 
}

#subTotal {
    width: 45rem;
    margin-bottom: 10rem;
    padding: 1.12rem 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--gray-300);
    position: fixed;
    font-size: 1.125rem;
}

#unitaryValue {
    width: 45rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

#result {
    width: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer {
    background: var(--gray-700);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer > p {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: center;
    color: var(--blue);
}
